<div class = "left-bar">
  <div class = "header">
    <div class = "header__user-name">
      test
    </div>
  </div>
  <table class= "priority">
    <tr class= "priority__list">
      <th class= "priority__list-star">
        <i class="fas fa-star icon01">
      </th>
      <th class= "priority__list-name">
        重要・緊急
      </th>
      <th class= "priority__list-count">
        <%= @counts["重要・緊急"] %>
      </th>
      <th class= "priority__list-rate">
        <%= number_to_percentage @counts["重要・緊急"].to_f / @tasks.length.to_f * 100, precision: 0 %>
      </th>
    </tr>
    <tr class= "priority__list">
      <th class= "priority__list-star">
        <i class="fas fa-star icon02">
      </th>
      <th class= "priority__list-name">
        重要・緊急ではない
      </th>
      <th class= "priority__list-count">
        <%= @counts["重要・緊急ではない"] %>
      </th>
      <th class= "priority__list-rate">
        <%= number_to_percentage @counts["重要・緊急ではない"].to_f / @tasks.length.to_f * 100, precision: 0 %>
      </th>
    </tr>
    <tr class= "priority__list">
      <th class= "priority__list-star">
        <i class="fas fa-star icon03">
      </th>
      <th class= "priority__list-name">
        重要ではない・緊急
      </th>
      <th class= "priority__list-count">
        <%= @counts["重要ではない・緊急"] %>
      </th>
      <th class= "priority__list-rate">
        <%= number_to_percentage @counts["重要ではない・緊急"].to_f / @tasks.length.to_f * 100, precision: 0 %>
      </th>
    </tr>
    <tr class= "priority__list">
      <th class= "priority__list-star">
        <i class="fas fa-star icon04">
      </th>
      <th class= "priority__list-name">
        重要ではない・緊急ではない
      </th>
      <th class= "priority__list-count">
        <%= @counts["重要ではない・緊急ではない"] %>
      </th>
      <th class= "priority__list-rate">
        <%= number_to_percentage @counts["重要ではない・緊急ではない"].to_f / @tasks.length.to_f * 100, precision: 0 %>
    </th>
    <tr class= "priority__list">
      <th class= "priority__list-star">
        <i class="fas fa-star icon05">
      </th>
      <th class= "priority__list-name">
        未設定
      </th>
      <th class= "priority__list-count">
        <%= @counts["未設定"] %>
      </th>
      <th class= "priority__list-rate">
        <%= number_to_percentage @counts["未設定"].to_f / @tasks.length.to_f * 100, precision: 0 %>
    </th>
  </table>
</div>